# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.ico

# Data files
*.csv
*.json
*.xlsx
*.xls
*.db
*.sqlite
*.sqlite3

# Environment files
env.sh

# Virtual Environment
venv/
env/
.env
.env.example

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 